<nav class = "navbar navbar-dark bg-light">
  <a href='/' >Home</a>
  |
  <a href='/about_me'>About Me</a>
  |
  <a href='/my_projects'>Projects</a>
  |
  <a href="/my_resume">Resume</a>
  |
  <a href='/contact_me'>Contact</a>
</nav>
