<%- include('./partials/header') %>
  <body>
    <div class="card bg-dark text-black">
      <img src="https://c4.wallpaperflare.com/wallpaper/403/173/85/computer-macro-light-glow-wallpaper-preview.jpg" class="card-img" alt="...">
      <div class="card-img-overlay ">
        <h5 class="card-title content">Chandanpreet Kaur</h5>
        <p class="card-text content">I am a Full Stack Developer</p>
        <a href="/contact_me" class="btn btn-primary content">Hire Me</a>
      </div>
    </div>
   
 </body>
</html>
<%- include('./partials/footer') %>
